.shift__button {
    margin:20px auto;
    color: #FFFFFF;
    display: block;
    font:bold 16px arial;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    width: 160px;
    background: linear-gradient(to bottom, #209DCA, #0F84AF);
}
.shift__button:hover,.shift__button:focus{
background-position: 0 -102%;
}