.footer__link {
    display: flex;
    color:black;
    margin-right: 30px;
    text-decoration: none;
}

.footer__link:visited {
    color:black;
    text-decoration: none;
}

.footer__link:hover:visited {
  color: gray;
}

.footer__link:hover {
    color: gray;
}